/*Meghan Freas's personal site, created by Meghan Freas*/

/*General*/

body {
	background: #ffffff;
	margin: 0;
	padding: 0;
	font-family: Georgia-serif, Times New Roman;
	font-size: 18px;

}

a:link {
	text-decoration: none;
	color: #5F5F5F;
}

a:hover {
	color: #000000;
}

a:visited {
	color: #5F5F5F;
}

/*Large Screens*/

@media (min-width: 1565px){
#portrait {
	background-image: url('collage_XL.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top left;
	height: 100%;
	width: 55%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: absolute;
	display: block;
}

#content {
	height: 100%;
	width: 44%;
	display: block;
	float: right;
	overflow: hidden;
}

#top {
	/*border: 2px solid red;*/
	height: 200px;
	width: 100%;
	display: block;
	overflow: hidden;
}

#bottom {
	/*border: 2px solid blue;*/
	height: 650px;
	width: 100%;
	overflow: scroll;
}

#top h1 {
	font-family: Verdana, Georgia;
	font-size: 50px;
	letter-spacing: 15px;
	font-weight: normal;
	padding: 0% 0% 0% 8%;
}

#top ul {
	display: inline-flex;
	list-style: none;
	text-align: center;
	margin-left: 14%;
}

#top li {
	padding: 5px 20px 0px 35px;
	font-family: Georgia-serif;
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#bottom h1 {
	font-family: Verdana, Georgia;
	font-size: 20px;
	font-weight: normal;
	margin-left: 3%;
}

#bottom p {
	padding-left: 10%;
	padding-right: 18%;

}

#bottom ul {
	display: inline-flex;
	list-style: none;
	text-align: center;
	margin-top: 5px;
	margin-left: 2%;
}

#bottom li {
	padding: 0px 0px 0px 40px;
}
}



/*Medium Screens*/

@media (min-width: 900px) and (max-width: 1565px){
#portrait {
	background-image: url('collage_L.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top left;
	height: 100%;
	width: 55%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: absolute;
	display: block;
}

#content {
	height: 100%;
	width: 44%;
	display: block;
	float: right;
	overflow: hidden;
}

#top {
	/*border: 2px solid red;*/
	height: 200px;
	width: 100%;
	display: block;
	overflow: hidden;
}

#bottom {
	/*border: 2px solid blue;*/
	height: 650px;
	width: 100%;
	overflow: scroll;
}

#top h1 {
	font-family: Verdana, Georgia;
	font-size: 36px;
	letter-spacing: 15px;
	font-weight: normal;
	padding: 20px 20px 0px 8%;
}

#top ul {
	display: inline-flex;
	list-style: none;
	text-align: center;
	margin-left: 3%;
}

#top li {
	padding: 5px 20px 0px 35px;
	font-family: Georgia-serif;
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
#bottom h1 {
	font-family: Verdana, Georgia;
	font-size: 20px;
	font-weight: normal;
	margin-left: 3%;
}

#bottom p {
	padding-left: 10%;
	padding-right: 18%;

}

#bottom ul {
	display: inline-flex;
	list-style: none;
	text-align: center;
	margin-top: 5px;
	margin-left: 2%;
}

#bottom li {
	padding: 0px 0px 0px 40px;
}
}





/*Small Screens*/
@media (max-width: 900px){
#portrait {
	background-image: url('minicollage.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
	width:100%;
	display: block;
	overflow: hidden;
}
#content {
	height: 100%;
	width: 100%;
	display: block;
	overflow: hidden;

}

#top {
	/*border: 2px solid red;*/
	height: 200px;
	width: 100%;
	display: block;
	overflow: hidden;
}

#bottom {
	/*border: 2px solid blue;*/
	height: 650px;
	width: 100%;
	overflow: scroll;
	margin-left: 5%;
}	
#top h1 {
	font-family: Verdana, Georgia;
	font-size: 50px;
	letter-spacing: 15px;
	font-weight: normal;
	padding: 20px 20px 0px 20px;
}

#top ul {
	display: inline-flex;
	list-style: none;
	text-align: center;
	margin-left: 5%;
}

#top li {
	padding: 5px 20px 0px 35px;
	font-family: Georgia-serif;
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#bottom h1 {
	font-family: Verdana, Georgia;
	font-size: 20px;
	font-weight: normal;
	margin-left: 3%;
}

#bottom p {
	padding-left: 10%;
	padding-right: 18%;

}

#bottom ul {
	display: inline-flex;
	list-style: none;
	text-align: center;
	margin-top: 5px;
	margin-left: 2%;
}

#bottom li {
	padding: 0px 0px 0px 40px;
}
}











